

<input class="form-control" style="max-width:600px margin-top:10px" placeholder="Search..." />
<button class="form-control" style="max-width:300px; margin-top:10px">
    Search
</button>





@code {
    
}
